@charset "UTF-8";
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Microsoft YaHei", Helvetica, "Helvetica Neue", sans-serif, STHeiTi;
  background-color: #ffffff;
}

ul, ul > li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p, dl, dt, dd {
  margin: 0;
  font-weight: normal;
}

img {
  width: 100%;
  border: 0;
}

input, img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #666666;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

.none {
  display: none !important;
}

.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

/* Page 的样式  */
.page-wrap {
  width: 16rem;
  margin: 0 auto;
  font-family: "Microsoft YaHei", Helvetica, "Helvetica Neue", sans-serif, STHeiTi;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.page {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}

.page-content {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.loadding-box {
  width: 100%;
  display: -webkit-box;
  text-align: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  padding: 0.2963rem 0;
}

.page-turbo {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}

/* === Images Lazy Loading === */
.lazy-loaded.lazy-fadeIn {
  -webkit-animation: lazyFadeIn 600ms;
  animation: lazyFadeIn 600ms;
}

@-webkit-keyframes lazyFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes lazyFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tuku-nav {
  position: absolute;
  width: 100%;
  height: 1.95556rem;
  border-bottom: 1px solid #e8e8e8;
  display: -webkit-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 17px;
  margin: 0;
  padding: 0 0.44444rem 0 0.35556rem;
  z-index: 11003;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #fafafa;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
}
.tuku-nav .nav-account {
  position: absolute;
  top: 0.11852rem;
  width: 1.77778rem;
  height: 1.77778rem;
}
.tuku-nav .no-login-icon {
  width: 1.77778rem;
  height: 1.77778rem;
  background: url(../img/account-icon.png);
  background-size: cover;
}
.tuku-nav .logined-icon {
  width: 1.33333rem;
  height: 1.33333rem;
  border: 1px solid #e8e8e8;
  margin: 0.22222rem;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.tuku-nav .logined-icon img {
  width: 100%;
}
.tuku-nav .nav-title {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  width: 8rem;
  height: 1.92593rem;
  font-size: 0.71111rem;
  color: #333333;
}
.tuku-nav .nav-flex-box {
  display: -webkit-box;
  -webkit-box-flex: 1;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  white-space: nowrap;
}
.tuku-nav .nav-ellipsis {
  display: block;
  line-height: 2.07407rem;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tuku-nav .nav-arrow {
  width: 0.56296rem;
  height: 0.35556rem;
  background: url(../img/nav-arrow.png);
  background-size: 100% 100%;
  margin: 0.08889rem 0 0 0.35556rem;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.tuku-nav .nav-arrow-select {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.tuku-nav .nav-back {
  position: absolute;
  top: 0.07407rem;
  left: 0;
  width: 4rem;
  height: 1.77778rem;
  background: url(../img/nav-back.png) no-repeat;
  background-size: contain;
}
.tuku-nav .all-tuku-title {
  display: -webkit-box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
}
.tuku-nav .nav-message {
  position: absolute;
  top: 0.07407rem;
  right: 0.32593rem;
  width: 1.77778rem;
  height: 1.77778rem;
  background: url(../img/nav-message.png);
  background-size: 100% 100%;
}
.tuku-nav .msg-red-point {
  width: 0.2963rem;
  height: 0.2963rem;
  background: #ff4c23;
  border-radius: 100%;
  position: absolute;
  top: 0.38519rem;
  right: 0.32593rem;
  display: none;
}
.tuku-nav .nav-message-new .msg-red-point {
  display: block;
}
.tuku-nav .nav-share {
  position: absolute;
  top: 0.07407rem;
  right: 0.2963rem;
  width: 1.77778rem;
  height: 1.77778rem;
  background: url(../img/nav-share.png);
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
}
.tuku-nav .nav-require {
  position: absolute;
  right: 0;
  font-size: 0.56296rem;
  line-height: 1.95556rem;
  color: #8bc34a;
  width: 2.22222rem;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
}
.slider-container-vertical > .slider-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.slider-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
}

.slider-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.slider-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.slider-pagination-bullet {
  width: 0.41481rem;
  height: 0.41481rem;
  display: inline-block;
  border-radius: 100%;
  background: #fff;
  opacity: 0.5;
  margin-right: 0.20741rem;
}
.swiper-pagination-clickable .slider-pagination-bullet {
  cursor: pointer;
}

.slider-pagination-active {
  opacity: 1;
  background: #fff;
}

.modal-overlay, .preloader-indicator-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
.modal-overlay.modal-overlay-visible, .preloader-indicator-overlay.modal-overlay-visible {
  visibility: visible;
  opacity: 1;
}

.modal {
  width: 240px;
  position: fixed;
  z-index: 11000;
  left: 50%;
  margin-left: -120px;
  margin-top: 0;
  top: 50%;
  text-align: center;
  border-radius: 7px;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(1.185);
  -ms-transform: translate3d(0, 0, 0) scale(1.185);
  transform: translate3d(0, 0, 0) scale(1.185);
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
.modal.modal-in {
  opacity: 1;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}
.modal.modal-out {
  opacity: 0;
  z-index: 10999;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}

.page-wrap .modal-show {
  opacity: 1;
  z-index: 11002;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
}

.modal-inner {
  padding: 15px;
  border-bottom: 1px solid #b5b5b5;
  border-radius: 7px 7px 0 0;
  background: #e8e8e8;
}
.modal-inner .brand-phone-box {
  display: -webkit-box;
  -webkit-box-align: center;
  margin: 0.88889rem 0;
  padding: 0.20741rem 0;
  background: #ffffff;
}
.modal-inner .brand-phone-box .modal-text-input {
  -webkit-box-flex: 1;
  padding: 0;
  font-size: 0.41481rem;
}
.modal-inner .brand-phone-box .brand-phone-icon {
  display: block;
  font-size: 0.47407rem;
  color: #d4d4d4;
}

.modal-title {
  font-weight: 500;
  font-size: 14px;
  color: #7c7c7c;
  text-align: center;
}

.modal-text {
  margin-top: 15px;
  font-size: 16px;
  color: #141414;
}

.modal-buttons {
  height: 44px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.modal-button {
  width: 100%;
  padding: 0 5px;
  height: 44px;
  font-size: 16px;
  line-height: 44px;
  text-align: center;
  color: #141414;
  background: #e8e8e8;
  display: block;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid #b5b5b5;
  -webkit-box-flex: 1;
  -ms-flex: 1;
}
.modal-button:first-child {
  border-radius: 0 0 0 7px;
}
.modal-button:last-child {
  border-right: none;
  border-radius: 0 0 7px 0;
}
.modal-button:first-child:last-child {
  border-radius: 0 0 7px 7px;
}
.modal-button.modal-button-bold {
  font-weight: 500;
}
.modal-button:active {
  background: #d4d4d4;
}

.modal-no-buttons .modal-inner {
  border-radius: 7px;
  border-bottom: none;
}
.modal-no-buttons .modal-buttons {
  display: none;
}

.popover {
  width: 15.02222rem;
  background: rgba(0, 0, 0, 0.82);
  z-index: 11000;
  margin: 0 auto;
  top: 2.25185rem;
  left: 0.48889rem;
  opacity: 0;
  border-radius: 0.23704rem;
  position: absolute;
  display: none;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.popover.modal-in {
  display: block;
  opacity: 1;
}

.popover-angle {
  width: 0.62222rem;
  height: 0.62222rem;
  position: absolute;
  left: 50%;
  top: -0.62222rem;
  z-index: 100;
  overflow: hidden;
}
.popover-angle:after {
  content: ' ';
  background: rgba(0, 0, 0, 0.82);
  width: 0.62222rem;
  height: 0.62222rem;
  position: absolute;
  left: 0;
  top: 0.44444rem;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal .preloader {
  width: 34px;
  height: 34px;
}

.preloader-indicator-overlay {
  visibility: visible;
  opacity: 1;
}

/* Loading 的样式  */
.preloader-indicator-modal .preloader {
  display: block;
  width: 2.96296rem;
  height: 2.96296rem;
}

/* === Preloader === */
.preloader {
  display: inline-block;
  width: 1.18519rem;
  height: 1.18519rem;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: preloader-spin 1s step-end infinite;
  animation: preloader-spin 1s step-end infinite;
}

.preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><defs><line id='l' x1='60' x2='60' y1='7' y2='27' stroke='%236c6c6c' stroke-width='11' stroke-linecap='round'/></defs><g><use xlink:href='%23l' opacity='.27'/><use xlink:href='%23l' opacity='.27' transform='rotate(30 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(60 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(90 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(120 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(150 60,60)'/><use xlink:href='%23l' opacity='.37' transform='rotate(180 60,60)'/><use xlink:href='%23l' opacity='.46' transform='rotate(210 60,60)'/><use xlink:href='%23l' opacity='.56' transform='rotate(240 60,60)'/><use xlink:href='%23l' opacity='.66' transform='rotate(270 60,60)'/><use xlink:href='%23l' opacity='.75' transform='rotate(300 60,60)'/><use xlink:href='%23l' opacity='.85' transform='rotate(330 60,60)'/></g></svg>");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><defs><line id='l' x1='60' x2='60' y1='7' y2='27' stroke='%23fff' stroke-width='11' stroke-linecap='round'/></defs><g><use xlink:href='%23l' opacity='.27'/><use xlink:href='%23l' opacity='.27' transform='rotate(30 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(60 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(90 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(120 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(150 60,60)'/><use xlink:href='%23l' opacity='.37' transform='rotate(180 60,60)'/><use xlink:href='%23l' opacity='.46' transform='rotate(210 60,60)'/><use xlink:href='%23l' opacity='.56' transform='rotate(240 60,60)'/><use xlink:href='%23l' opacity='.66' transform='rotate(270 60,60)'/><use xlink:href='%23l' opacity='.75' transform='rotate(300 60,60)'/><use xlink:href='%23l' opacity='.85' transform='rotate(330 60,60)'/></g></svg>");
}

@-webkit-keyframes preloader-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  8.33333333% {
    -webkit-transform: rotate(30deg);
  }
  16.66666667% {
    -webkit-transform: rotate(60deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  33.33333333% {
    -webkit-transform: rotate(120deg);
  }
  41.66666667% {
    -webkit-transform: rotate(150deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  58.33333333% {
    -webkit-transform: rotate(210deg);
  }
  66.66666667% {
    -webkit-transform: rotate(240deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  83.33333333% {
    -webkit-transform: rotate(300deg);
  }
  91.66666667% {
    -webkit-transform: rotate(330deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  8.33333333% {
    transform: rotate(30deg);
  }
  16.66666667% {
    transform: rotate(60deg);
  }
  25% {
    transform: rotate(90deg);
  }
  33.33333333% {
    transform: rotate(120deg);
  }
  41.66666667% {
    transform: rotate(150deg);
  }
  50% {
    transform: rotate(180deg);
  }
  58.33333333% {
    transform: rotate(210deg);
  }
  66.66666667% {
    transform: rotate(240deg);
  }
  75% {
    transform: rotate(270deg);
  }
  83.33333333% {
    transform: rotate(300deg);
  }
  91.66666667% {
    transform: rotate(330deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.infinite-scroll-preloader {
  margin-top: 0.59259rem;
  margin-bottom: 0.59259rem;
  text-align: center;
}

/* 操作成功的浮层 */
.succeed-tips-modal {
  width: 5.68889rem;
  position: fixed;
  z-index: 1000;
  left: 50%;
  margin-left: -2.84444rem;
  margin-top: 0;
  top: 50%;
  text-align: center;
  border-radius: 0.41481rem;
  background: rgba(0, 0, 0, 0.82);
  padding-bottom: 1.0963rem;
}
.succeed-tips-modal .succeed-tips-icon {
  width: 1.68889rem;
  height: 1.68889rem;
  background: url(../img/m/succeed-icon.png);
  background-size: 100% 100%;
  margin: 1.12593rem auto 0.68148rem auto;
}
.succeed-tips-modal .succeed-tips-text {
  font-size: 0.71111rem;
  line-height: 1.03704rem;
  color: #ffffff;
  padding: 0 0.44444rem;
}

.network-button {
  height: 1.62963rem;
  background: #ffffff;
  outline: none;
  border: 1px solid #689f38;
  border-radius: 0.08889rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -webkit-box;
  font-size: 0.7rem;
  color: #689f38;
}

.default-empty {
  padding-top: 1.92593rem;
}

.empty {
  margin-top: 3.7037rem;
}

.require-empty {
  margin-top: 7.40741rem;
}

.empty-shop {
  height: 6.37037rem;
  background: url(../img/m/empty-shop.png) no-repeat center;
  background-size: 100%;
}

.empty-network {
  height: 6.37037rem;
  background: url(../img/m/empty-network.png) no-repeat center;
  background-size: 100%;
}

.empty-title, .empty-goaway, .audit-text, .empty-title-48 {
  text-align: center;
}

.empty-title {
  color: #544f49;
  font-size: 0.68148rem;
  line-height: 0.68148rem;
}

.empty-title-48 {
  color: #333;
  font-size: 0.71111rem;
  line-height: 0.71111rem;
}

.empty-goaway {
  margin-top: 0.78519rem;
  color: #b6b0a7;
  font-size: 0.56296rem;
  line-height: 1.03704rem;
}

.audit-text {
  margin-top: 0.78519rem;
  color: #999;
  font-size: 0.62222rem;
  line-height: 1.03704rem;
  padding: 0 0.59259rem;
}

.network-button {
  width: 6.22222rem;
  margin: 2.07407rem auto 0;
}
.network-button.active-state {
  background-color: #f6ffec;
}

.pull-to-refresh-layer {
  position: absolute;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 1.62963rem;
}
.pull-to-refresh-layer .preloader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -0.59259rem;
  margin-top: -0.59259rem;
  visibility: hidden;
}
.pull-to-refresh-layer .pull-to-refresh-arrow {
  width: 0.77037rem;
  height: 1.18519rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -0.35556rem;
  margin-top: -0.59259rem;
  background: no-repeat center;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 40'><polygon points='9,22 9,0 17,0 17,22 26,22 13.5,40 0,22' fill='%238c8c8c'/></svg>");
  background-size: 0.77037rem 1.18519rem;
  z-index: 2;
  -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
  -ms-transform: rotate(0deg) translate3d(0, 0, 0);
  transform: rotate(0deg) translate3d(0, 0, 0);
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

.pull-to-refresh-content.transitioning,
.pull-to-refresh-content.refreshing {
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}

.pull-to-refresh-content:not(.refreshing) .preloader {
  -webkit-animation: none;
  animation: none;
}

.pull-to-refresh-content.refreshing {
  -webkit-transform: translate3d(0, 2.01481rem, 0);
  -ms-transform: translate3d(0, 2.01481rem, 0);
  transform: translate3d(0, 2.01481rem, 0);
}

.pull-to-refresh-content.refreshing .pull-to-refresh-arrow {
  visibility: hidden;
  -webkit-transition-duration: 0ms;
  transition-duration: 0ms;
}

.pull-to-refresh-content.refreshing .preloader {
  visibility: visible;
}

.pull-to-refresh-content.pull-up .pull-to-refresh-arrow {
  -webkit-transform: rotate(180deg) translate3d(0, 0, 0);
  -ms-transform: rotate(180deg) translate3d(0, 0, 0);
  transform: rotate(180deg) translate3d(0, 0, 0);
}

.overflowhidden {
  overflow: hidden;
}

.tuku-nav {
  position: relative;
  top: -1px;
}

.relative {
  position: relative;
}

.xm-download-top {
  position: relative;
  z-index: 99;
}

.page-pdt70 {
  padding-top: 1.03704rem !important;
}

.page-pdt132 {
  padding-top: 1.95556rem !important;
}

.page-pdt242 {
  padding-top: 3.58519rem !important;
}

.page-pdt312 {
  padding-top: 4.62222rem !important;
}

.page-pdt422 {
  padding-top: 6.25185rem !important;
}

.page-pdb143 {
  padding-bottom: 2.11852rem !important;
}

.page-pdlr20 {
  padding: 0 0.2963rem;
}

.page-pdlr40 {
  padding: 0 0.59259rem;
}

.page-pdb145 {
  padding-bottom: 2.11852rem !important;
}

.page-mgt20 {
  margin-top: 0.2963rem;
}

.page-width420 {
  width: 6.22222rem !important;
}

.page-font48 {
  font-size: 0.71111rem !important;
  line-height: 0.91852rem !important;
}

.rotate180 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.event-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.dex-tab-list {
  position: absolute;
  display: -webkit-box;
  display: box;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2.11852rem;
  border-top: 1px solid #999;
  background: #fff;
}

.dex-tab-al .dex-item-ico {
  background: url(../img/m/spirit.png) 0 -3.67407rem no-repeat;
  background-size: 16rem;
}
.dex-tab-al.select .dex-item-ico {
  background: url(../img/m/spirit.png) 0 -1.86667rem no-repeat;
  background-size: 16rem;
}
.dex-tab-al.select .dex-item-text {
  color: #8bc34a !important;
}

.dex-tab-dairy .dex-item-ico {
  background: url(../img/m/spirit.png) -1.12593rem -3.67407rem no-repeat;
  background-size: 16rem;
}
.dex-tab-dairy.select .dex-item-ico {
  background: url(../img/m/spirit.png) -1.12593rem -1.86667rem no-repeat;
  background-size: 16rem;
}
.dex-tab-dairy.select .dex-item-text {
  color: #8bc34a !important;
}

.dex-tab-lg .dex-item-ico {
  background: url(../img/m/spirit.png) -2.37037rem -3.67407rem no-repeat;
  background-size: 16rem;
}
.dex-tab-lg.select .dex-item-ico {
  background: url(../img/m/spirit.png) -2.37037rem -1.86667rem no-repeat;
  background-size: 16rem;
}
.dex-tab-lg.select .dex-item-text {
  color: #8bc34a !important;
}

.dex-tab-gr .dex-item-ico {
  background: url(../img/m/spirit.png) -3.43704rem -3.67407rem no-repeat;
  background-size: 16rem;
}
.dex-tab-gr.select .dex-item-ico {
  background: url(../img/m/spirit.png) -3.43704rem -1.86667rem no-repeat;
  background-size: 16rem;
}
.dex-tab-gr.select .dex-item-text {
  color: #8bc34a !important;
}

.dex-tab-itm {
  -webkit-box-flex: 1;
  box-flex: 1;
  padding-top: 0.20741rem;
  font-size: 0.47407rem;
  color: #999;
}
.dex-tab-itm.active-state {
  background-color: #f6f6f6;
}

.dex-item-ico {
  margin: 0 auto;
  width: 1.12593rem;
  height: 1.12593rem;
}

.dex-item-text {
  line-height: 0.8rem;
  text-align: center;
}

.return-top-btn {
  position: absolute;
  right: 0.51852rem;
  bottom: 2.51852rem;
  padding-top: 0.82963rem;
  width: 1.77778rem;
  height: 0.94815rem;
  border-radius: 50%;
  background: #8bc34a url(../img/m/spirit.png) 0 -4.88889rem no-repeat;
  background-size: 16rem;
  font-size: 0.4rem;
  color: #fff;
  text-align: center;
  z-index: 9;
}

.return-bottom65 {
  bottom: 0.96296rem !important;
}

.designer-item-detail {
  position: relative;
}
.designer-item-detail .designer-img {
  overflow: hidden;
  position: absolute;
  top: -1.4963rem;
  left: 50%;
  margin-left: -1.4963rem;
  width: 2.96296rem;
  height: 2.96296rem;
  overflow: hidden;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
}
.designer-item-detail .designer-img img {
  border-radius: 50%;
}

.designer-item-text {
  padding: 1.68889rem 0;
  text-align: center;
  font-size: 0.62222rem;
}
.designer-item-text .item-text,
.designer-item-text .designer-font {
  color: #333333;
  font-size: 0.88889rem;
}
.designer-item-text .item-text {
  padding-left: 0.74074rem;
}
.designer-item-text .item-name {
  font-size: 0.56296rem;
  color: #999999;
  padding-bottom: 0.2963rem;
}
.designer-item-text .designer-detail {
  display: -webkit-box;
  display: box;
  -webkit-box-pack: center;
  box-pack: center;
}
.designer-item-text .detail-subscribe,
.designer-item-text .detail-area,
.designer-item-text .detail-work {
  display: -webkit-box;
  display: box;
  margin: 0 0.44444rem;
  color: #689f38;
  font-size: 0.56296rem;
}
.designer-item-text .subscribe-icon,
.designer-item-text .area-icon,
.designer-item-text .work-icon {
  margin-right: 0.22222rem;
  width: 0.85926rem;
  height: 0.77037rem;
}
.designer-item-text .subscribe-icon {
  background: url(../img/m/message-icon-designer.png);
  background-size: 100% 100%;
}
.designer-item-text .area-icon {
  background: url(../img/m/money.png);
  background-size: 100% 100%;
}
.designer-item-text .work-icon {
  background: url(../img/m/work-icon.png);
  background-size: 100% 100%;
}

.designer-head-detail {
  padding: 0.71111rem 0.59259rem 1.48148rem;
  overflow: hidden;
  background: #fff;
}
.designer-head-detail .designer-img {
  margin: 0 auto;
  width: 2.96296rem;
  height: 2.96296rem;
  border: 1px solid #e9e9e9;
  border-radius: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.designer-head-detail .designer-img img {
  height: 100%;
  border-radius: 50%;
}
.designer-head-detail .designer-img.active-state {
  background-color: #f6ffec;
}
.designer-head-detail .designer-text {
  text-align: center;
  overflow: hidden;
}
.designer-head-detail .designer-name {
  padding: 0.51852rem 0 0.37037rem;
  font-size: 0.71111rem;
  color: #333333;
}
.designer-head-detail .designer-detail {
  display: -webkit-box;
  display: box;
  -webkit-box-pack: center;
  box-pack: center;
  background: #fff;
}
.designer-head-detail .detail-subscribe,
.designer-head-detail .detail-area,
.designer-head-detail .detail-work {
  display: -webkit-box;
  display: box;
  margin: 0 0.58519rem;
  color: #689f38;
  font-size: 0.56296rem;
}
.designer-head-detail .subscribe-icon,
.designer-head-detail .area-icon,
.designer-head-detail .work-icon {
  margin-right: 0.22222rem;
  width: 0.85926rem;
  height: 0.77037rem;
}
.designer-head-detail .subscribe-icon {
  background: url(../img/m/message-icon-designer.png);
  background-size: 100% 100%;
}
.designer-head-detail .area-icon {
  background: url(../img/m/money.png);
  background-size: 100% 100%;
}
.designer-head-detail .work-icon {
  background: url(../img/m/work-icon.png);
  background-size: 100% 100%;
}

.see-num-box {
  position: absolute;
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
  padding: 0 0.2963rem;
  left: 0.41481rem;
  bottom: 2.81481rem;
  height: 0.88889rem;
  border-radius: 0.47407rem;
  background: rgba(0, 0, 0, 0.3);
}
.see-num-box .num-box-num {
  margin-left: 0.2963rem;
  font-family: DroidSansFallback;
  font-size: 0.47407rem;
  color: #fff;
}
.see-num-box .num-box-icon {
  width: 0.62222rem;
  height: 0.35556rem;
  background: url("../img/m/eyes-small.png");
  background-size: 100% 100%;
}
.see-num-box.top {
  top: 0.44444rem;
}
.see-num-box.top40 {
  top: 0.59259rem;
}
.see-num-box.left {
  left: 0.2963rem;
}

.type-show-box {
  position: absolute;
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
  padding: 0 0.56296rem;
  right: 0.41481rem;
  bottom: 2.81481rem;
  height: 0.88889rem;
  font-family: DroidSansFallback;
  font-size: 0.47407rem;
  color: #fff;
  text-align: center;
  border-radius: 0.56296rem;
  background: rgba(0, 0, 0, 0.3);
}
.type-show-box.top {
  top: 0.44444rem;
}

.diary-big-mack {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.diary-big-img {
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  width: 16rem;
  height: 16rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.aldt-maby-list {
  padding: 0 0.59259rem 3.25926rem;
}
.aldt-maby-list .list-title {
  height: 1.74815rem;
  font-size: 0.62222rem;
  line-height: 1.74815rem;
  color: #333;
  border-bottom: 1px solid #eeeeee;
}
.aldt-maby-list .list-item {
  display: -webkit-box;
  display: box;
  padding: 0.4rem 0;
  border-bottom: 1px solid #eeeeee;
}
.aldt-maby-list .item-img {
  width: 3.55556rem;
  height: 3.55556rem;
}
.aldt-maby-list .item-detial {
  position: relative;
  -webkit-box-flex: 1;
  box-flex: 1;
  margin-left: 0.59259rem;
  height: 3.55556rem;
}
.aldt-maby-list .item-text {
  overflow: hidden;
  margin-top: -0.14815rem;
  font-size: 0.88889rem;
  color: #333;
  line-height: 1.18519rem;
  max-height: 2.37037rem;
}
.aldt-maby-list .item-subtext {
  overflow: hidden;
  height: 0.74074rem;
  font-size: 0.56296rem;
  color: #999;
}
.aldt-maby-list .item-comment {
  position: absolute;
  bottom: 0.44444rem;
  display: -webkit-box;
  display: box;
  font-size: 0.47407rem;
  color: #b8b8b8;
  line-height: 0.45926rem;
  font-size: DroidSansFallback;
}
.aldt-maby-list .item-icon {
  width: 0.78519rem;
  height: 0.45926rem;
  background: url(../img/m/eyes.png);
  background-size: 100% 100%;
}

.al-pg-box {
  margin-top: -1px;
}

.al-tp-box {
  position: relative;
  display: -webkit-box;
  display: box;
  top: -1px;
  height: 1.62963rem;
  line-height: 1.62963rem;
  font-size: 0.62222rem;
  color: #616161;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  background: #fafafa;
  z-index: 11;
}
.al-tp-box .text {
  width: 2.57778rem;
  text-align: center;
}

.top310 {
  top: 4.59259rem;
}

.al-tp-left {
  display: -webkit-box;
  display: box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  box-align: center;
  width: 50%;
  padding-left: 2.51852rem;
  border-right: 1px solid #e8e8e8;
}

.al-tp-right {
  display: -webkit-box;
  display: box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  box-align: center;
  width: 50%;
  padding-left: 2.51852rem;
  border-left: 1px solid #e8e8e8;
}

.al-tp-icon {
  width: 1.18519rem;
  height: 0.65185rem;
  background: url(../img/m/spirit.png) -1.42222rem -5.11111rem no-repeat;
  background-size: 16rem;
  -webkit-transition: transform .2s;
  transition: transform .2s;
}

.al-tp-icon-rotate {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.al-pg-content-item {
  position: relative;
}
.al-pg-content-item .designer-detail {
  background: #fff;
}

.page-dropdown-list {
  position: absolute;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  padding-left: 0.88889rem;
  width: 6.51852rem;
  background: #fff;
  color: #616161;
  z-index: 10;
}

.page-dropdown-item {
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
  height: 2.11852rem;
  line-height: 2.11852rem;
  font-size: 0.62222rem;
  border-bottom: 1px solid #e8e8e8;
}
.page-dropdown-item.select {
  color: #7cb342;
}
.page-dropdown-item.select .al-dropdown-select {
  margin-right: 0.51852rem;
  width: 0.6963rem;
  height: 0.54815rem;
  background: url(../img/m/spirit.png) -4.59259rem -2.96296rem no-repeat;
  background-size: 16rem;
}

.page-dropdown-text {
  -webkit-box-flex: 1;
  box-flex: 1;
}

.gl-dex-nav-list {
  display: -webkit-box;
  display: box;
  padding: 0.74074rem 0 0.37037rem;
}

.gl-dex-nav-item {
  -webkit-box-flex: 1;
  box-flex: 1;
}

.gl-dex-nav-icon {
  margin: 0 auto;
  width: 2.44444rem;
  height: 2.44444rem;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  overflow: hidden;
}
.gl-dex-nav-icon .icon {
  width: 100%;
  height: 100%;
}

.gl-dex-nav-text {
  padding-top: 0.2963rem;
  text-align: center;
  font-size: 0.62222rem;
  color: #333;
}

.gl-dex-description-text {
  padding-bottom: 0.37037rem;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

.gl-dex-description-name {
  padding: 0.22222rem 0 0.44444rem 0.44444rem;
  font-size: 0.88889rem;
}

.gl-dex-description-subname {
  padding: 0 0 0.44444rem 0.44444rem;
  font-size: 0.56296rem;
  color: #999;
}

.gl-dex-details-item {
  margin-top: 0.2963rem;
}
.gl-dex-details-item.type1 .exp-tp-description-text {
  display: none;
}
.gl-dex-details-item.type2 .exp-tp-description-subname {
  display: none;
}

.insp-dex-box {
  position: relative;
  display: -webkit-box;
  display: box;
  top: -1px;
  height: 1.62963rem;
  line-height: 1.62963rem;
  font-size: 0.62222rem;
  color: #616161;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  background: #fafafa;
  z-index: 11;
}
.insp-dex-box .text {
  width: 2.57778rem;
  text-align: center;
}

.insp-dex-left {
  display: -webkit-box;
  display: box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  box-align: center;
  width: 50%;
  padding-left: 2.51852rem;
  border-right: 1px solid #e8e8e8;
}

.insp-dex-right {
  display: -webkit-box;
  display: box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  box-align: center;
  width: 50%;
  padding-left: 2.51852rem;
  border-left: 1px solid #e8e8e8;
}

.insp-dex-icon {
  width: 1.18519rem;
  height: 0.65185rem;
  background: url(../img/m/spirit.png) -1.42222rem -5.11111rem no-repeat;
  background-size: 16rem;
  -webkit-transition: transform .2s;
  transition: transform .2s;
}

.insp-dex-img-list {
  padding-top: 0.2963rem;
}

.insp-dex-img-left {
  margin-right: 0.2963rem;
}

.insp-dex-img-left,
.insp-dex-img-right {
  float: left;
  width: 49%;
}
.insp-dex-img-left .cell-item,
.insp-dex-img-right .cell-item {
  padding-bottom: 0.2963rem;
}

.dairy-dex-tab {
  overflow: hidden;
  display: -webkit-box;
  display: box;
  margin-left: 0.08889rem;
  width: 6.96296rem;
  font-size: 0.62222rem;
  text-align: center;
  background: #eee;
  border-radius: 0.74074rem;
}
.dairy-dex-tab .select {
  background: #7db444;
  color: #fff;
}

.dairy-dex-tab-lt {
  width: 50%;
  height: 1.48148rem;
  line-height: 1.48148rem;
}

.dairy-dex-tab-rt {
  width: 50%;
  height: 1.48148rem;
  line-height: 1.48148rem;
}

.dairy-dex-page-content {
  padding: 0 0.2963rem;
}

.dairy-dex-page-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  padding-top: 0.2963rem;
  width: 100%;
  height: auto;
}

.dairy-dex-item-designer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
  padding: 2.16296rem 0 0.41481rem 0;
  background: url(../img/m/listbottombg.png);
  background-size: 100% 100%;
}
.dairy-dex-item-designer .designer-avator {
  width: 1.36296rem;
  height: 1.36296rem;
  overflow: hidden;
  border-radius: 100%;
  border: 1px solid #fff;
  box-sizing: border-box;
  margin-left: 0.74074rem;
  margin-right: 0.74074rem;
}
.dairy-dex-item-designer .designer-avator img {
  border-radius: 100%;
  height: 100%;
}
.dairy-dex-item-designer .designer-text {
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  box-align: center;
  color: #eee;
}
.dairy-dex-item-designer .text-name {
  font-size: 0.8rem;
  padding-right: 0.53333rem;
}
.dairy-dex-item-designer .text-house {
  font-size: 0.56296rem;
  padding-right: 0.53333rem;
}

.dairy-user-page-item {
  border: 1px solid #ededed;
  padding-bottom: 0.88889rem;
}

.dairy-user-item-designer {
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
  padding: 0.37037rem 0 0.59259rem;
  background-size: 100% 100%;
}
.dairy-user-item-designer .designer-avator {
  width: 1.36296rem;
  height: 1.36296rem;
  overflow: hidden;
  border-radius: 100%;
  border: 1px solid #ddd;
  box-sizing: border-box;
  margin-left: 0.74074rem;
  margin-right: 0.74074rem;
}
.dairy-user-item-designer .designer-avator img {
  border-radius: 100%;
  height: 100%;
}
.dairy-user-item-designer .designer-text {
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  box-align: center;
  color: #333333;
}
.dairy-user-item-designer .text-name {
  padding-right: 0.53333rem;
  padding-bottom: 0.2963rem;
  font-size: 0.8rem;
}
.dairy-user-item-designer .text-house {
  padding-right: 0.53333rem;
  font-size: 0.56296rem;
  color: #616161;
}

.dairy-user-item-text {
  padding: 0 0.74074rem;
  font-size: 0.71111rem;
  color: #333;
}

.dairy-user-item-img {
  padding-top: 0.74074rem;
}
.dairy-user-item-img .item-img {
  float: left;
  width: 4.74074rem;
  height: 4.74074rem;
  margin-left: 0.2963rem;
  margin-top: 0.2963rem;
}

.aldt-img-list .detail-img {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.aldt-list-title {
  padding-bottom: 0.8rem;
  overflow: hidden;
  text-align: center;
  font-size: 0.88889rem;
  color: #333;
}

.aldt-item-text {
  padding: 0.47407rem 0.59259rem 2.07407rem;
  color: #666666;
  font-size: 0.62222rem;
  line-height: 1.03704rem;
  background: #fff;
}

.diary-detail-list {
  margin-top: -1px;
}
.diary-detail-list .tuku-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}
.diary-detail-list .tuku-item-title {
  color: #ffffff;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../img/m/listbottombg.png);
  background-size: 100% 100%;
  padding: 2.16296rem 0 0.2963rem 0;
  display: -webkit-box;
  -webkit-box-align: center;
}
.diary-detail-list .tuku-item-text {
  -webkit-box-flex: 1;
}
.diary-detail-list .designer-img {
  width: 1.33333rem;
  height: 1.33333rem;
  border: 1px solid #ffffff;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 0.14815rem 0 0.88889rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.diary-detail-list .designer-img img {
  height: 100%;
  border-radius: 50%;
}
.diary-detail-list .item-name,
.diary-detail-list .designer-name {
  overflow: hidden;
  max-height: 1.83704rem;
  font-size: 0.62222rem;
  line-height: 0.91852rem;
  font-weight: normal;
  padding: 0 0.53333rem;
}
.diary-detail-list .designer-img-name {
  font-size: 0.62222rem;
  margin: 0.96296rem 0 0 0.88889rem;
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.diary-detail-list .item-img {
  width: 100%;
}

.diary-landing .tuku-list-padding {
  padding-top: 0.2963rem;
}
.diary-landing .designer-info {
  display: -webkit-box;
  -webkit-box-align: center;
}
.diary-landing .diary-item-text {
  -webkit-box-flex: 1;
  color: #eee;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
.diary-landing .diary-item-text .user-name, .diary-landing .diary-item-text .house {
  font-size: 0.62222rem;
  font-weight: normal;
  padding-right: 0.56296rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.diary-landing .diary-item-text .local {
  padding: 0 0.14815rem;
}
.diary-landing .diary-item-text .user-name {
  padding-bottom: 0.23704rem;
}
.diary-landing .diary-item-text .house {
  font-size: 0.56296rem;
}
.diary-landing .diary-item-text .de-location {
  padding-right: 0.23704rem;
}
.diary-landing .diary-item-text .de-name {
  padding-right: 0.2963rem;
}
.diary-landing .tuku-item-diary-title {
  -webkit-box-align: end;
}
.diary-landing .tuku-item-diary-title .item-name {
  padding-right: 0.53333rem;
  padding-left: 0;
  margin-bottom: 0.2963rem;
  font-size: 0.8rem;
}
.diary-landing .user-avator {
  width: 1.36296rem;
  height: 1.36296rem;
  overflow: hidden;
  border-radius: 100%;
  border: 1px solid #fff;
  box-sizing: border-box;
  margin-left: 0.74074rem;
  margin-right: 0.74074rem;
}
.diary-landing .user-avator img {
  border-radius: 100%;
  height: 100%;
}

.tuku-budget,
.tuku-graduation-photo,
.tuku-process {
  margin-top: 0.44444rem;
  text-align: center;
  color: #333;
  font-size: 0.59259rem;
}
.tuku-budget .title,
.tuku-graduation-photo .title,
.tuku-process .title {
  font-weight: 500;
}
.tuku-budget .title span,
.tuku-graduation-photo .title span,
.tuku-process .title span {
  color: #bbb;
  font-size: 0.44444rem;
  display: block;
}

.tuku-budget-info {
  margin: 0.2963rem 0 1.18519rem 0;
  height: 2.13333rem;
  background: url(../img/diarylanding/budget.png) 0 0 no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.tuku-budget-info .budget-pre {
  padding-top: 0.59259rem;
  font-weight: normal;
}
.tuku-budget-info .em {
  color: red;
}

.grad-photos-box {
  padding: 0 0.62222rem 0 0.62222rem;
  margin-top: 0.47407rem;
}
.grad-photos-box .photos-item {
  padding-bottom: 0.59259rem;
  font-size: 0.56296rem;
}
.grad-photos-box .photos-item .photos-description {
  padding-top: 0.35556rem;
  text-align: left;
  line-height: 1.6;
}

.process-step-box {
  position: relative;
  padding: 0 0.62222rem 0 0.62222rem;
}
.process-step-box .photos-item {
  padding-bottom: 0.59259rem;
  font-size: 0.56296rem;
}
.process-step-box .photos-item .photos-description {
  padding-top: 0.35556rem;
  text-align: left;
  line-height: 1.6;
}
.process-step-box:before {
  content: " ";
  position: absolute;
  left: 0.59259rem;
  top: 0;
  height: 100%;
  width: 2px;
  border-left: 2px solid #dddddd;
}
.process-step-box:after {
  content: " ";
  position: absolute;
  width: 1.18519rem;
  height: 0.44444rem;
  background-color: #fff;
  top: -0.35778rem;
  left: 0.32593rem;
}
.process-step-box .item-img-box {
  margin-right: -0.2963rem;
}
.process-step-box .item-img-box .item-img {
  float: left;
  width: 4.74074rem;
  height: 4.74074rem;
  margin-left: 0.26667rem;
  margin-top: 0.26667rem;
}

.tuku-process {
  background: url(../img/diarylanding/process_bar.png) 0 0.26667rem no-repeat;
  background-size: contain;
}
.tuku-process .title .t-hd {
  background-color: #fff;
  width: 4.2963rem;
  margin: 0 auto;
}

.step-items {
  margin-top: 0.8rem;
}
.step-items .hd {
  position: relative;
  padding-left: 0.5037rem;
  font-size: 0.65185rem;
  font-weight: 500;
  text-align: left;
  padding-bottom: 0.32593rem;
}
.step-items .hd:before {
  content: " ";
  width: 0.59259rem;
  height: 0.59259rem;
  background: url(../img/diarylanding/dot.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 0.126667rem;
  left: -0.23704rem;
}
.step-items .photos-description {
  padding-left: 0.5037rem;
}

.designer-detail {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  background: #f5f5f6;
}
.designer-detail .slider-container {
  height: auto;
}
.designer-detail .designer-info {
  margin-top: -1px;
  padding: 0.85926rem 0 0.68148rem;
  min-height: 3.55556rem;
  background: url(../img/m/designer-top-bg.jpg);
  background-size: 100% 100%;
}
.designer-detail .designer-avatar {
  overflow: hidden;
  margin: 0 1.8963rem;
  width: 2.9037rem;
  height: 2.9037rem;
  border: 1px solid #e8e8e8;
  border-radius: 100%;
}
.designer-detail .designer-avatar .touxiang-pic {
  height: 100%;
  border-radius: 50%;
}
.designer-detail .designer-avatar.active-state {
  background-color: #f6ffec;
}
.designer-detail .designer-score {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  padding: 0 3.55556rem;
}
.designer-detail .score-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  text-align: center;
}
.designer-detail .score-item .item-num {
  font-size: 0.47407rem;
  color: #689f38;
}
.designer-detail .score-item .item-text {
  padding-top: 0.23704rem;
  font-size: 0.47407rem;
  color: #333333;
}
.designer-detail .designer-button-box {
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  box-pack: center;
}
.designer-detail .follow-button,
.designer-detail .message-button {
  width: 3.76296rem;
  height: 1.45185rem;
  line-height: 1.45185rem;
  background: #689f38;
  font-size: 0.59259rem;
  color: #fff;
  text-align: center;
}
.designer-detail .followed-button {
  background: #689f38;
  color: #ffffff;
}
.designer-detail .followed-button .follow-icon {
  display: none;
}
.designer-detail .follow-icon {
  width: 0.59259rem;
  height: 0.59259rem;
  background: url("../img/m/add-icon.png");
  background-size: 100% 100%;
  margin-right: 0.32593rem;
}
.designer-detail .message-icon {
  width: 0.68148rem;
  height: 0.74074rem;
  background: url("../img/m/message-icon.png");
  background-size: 100% 100%;
  margin-right: 0.32593rem;
}
.designer-detail .message-icon-newv {
  width: 0.81998rem;
  height: 0.74074rem;
  background: url("../img/m/message-icon-designer.png");
  background-size: 100% 100%;
  margin-right: 0.32593rem;
}
.designer-detail .designer-company-wrap {
  padding: 0.74074rem 0.88889rem 0.74074rem 0.81481rem;
  border-bottom: 1px solid #e8e8e8;
  display: -webkit-box;
  display: box;
}
.designer-detail .designer-company-wrap .designer-company {
  -webkit-box-flex: 1;
  box-flex: 1;
}
.designer-detail .designer-company-wrap .more-icon {
  width: 0.5037rem;
  height: 0.82963rem;
  background: url(../img/m/arrow-right-thin.png);
  background-size: 100% 100%;
}
.designer-detail .designer-text {
  padding: 0.37037rem 0.22222rem 0.81481rem;
  margin: 0 0.59259rem;
}
.designer-detail .designer-signature {
  line-height: 1.18519rem;
  color: #666666;
  font-size: 0.62222rem;
}
.designer-detail .designer-desc {
  line-height: 1.00741rem;
}
.designer-detail .designer-fee {
  padding-bottom: 0.48889rem;
}
.designer-detail .designer-fee p {
  margin-top: 0.62222rem;
}
.designer-detail .designer-fee .designer-num {
  color: #689f38;
}
.designer-detail .designer-fee .designer-no-num {
  color: #999;
}
.designer-detail .designer-ind {
  padding: 0.53333rem 0.88889rem 1.0963rem;
}
.designer-detail .designer-name {
  padding: 0.47407rem 0.2963rem 0.35556rem;
  font-size: 0.632rem;
  color: #333333;
  text-align: center;
  font-weight: normal;
}
.designer-detail .designer-city-name {
  padding: 0 0.2963rem 0.62222rem;
  color: #666;
  text-align: center;
  font-size: 0.47407rem;
}
.designer-detail .designer-desc {
  margin-top: 0;
}
.designer-detail .designer-intro {
  padding: 0 0.37037rem 0;
  line-height: 0.88889rem;
}
.designer-detail .designer-city {
  display: -webkit-box;
  display: box;
}
.designer-detail .designer-city .city-list {
  -webkit-box-flex: 1;
  box-flex: 1;
  margin-left: 0.2963rem;
  color: #666666;
}
.designer-detail .designer-introduce {
  line-height: 1.48148rem;
}
.designer-detail .designer-introduce .designer-desc {
  font-size: 0.56296rem;
  line-height: 1.03704rem;
  color: #666666;
}
.designer-detail .designer-introduce,
.designer-detail .designer-company,
.designer-detail .designer-city,
.designer-detail .designer-fee,
.designer-detail .designer-desc,
.designer-detail .designer-company-wrap,
.designer-detail .designer-intro {
  font-size: 0.62222rem;
  color: #999999;
}
.designer-detail .designer-slider {
  height: 100%;
  padding-top: 4.77037rem;
}

.designer-nav-fixed {
  position: fixed;
  top: 1.95556rem;
  left: 0;
  right: 0;
  z-index: 999;
}

.deep-bg img {
  width: 100%;
  margin-top: 7.40741rem;
}

.designer-avatar-big {
  display: none;
  width: 100%;
  z-index: 11002;
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.designer-avatar-big img {
  width: 100%;
}

.designer-nav {
  margin-bottom: 0.59259rem;
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
  background: #ffffff;
}
.designer-nav .nav-item {
  display: -webkit-box;
  display: box;
  position: relative;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  box-align: center;
}
.designer-nav .nav-solied {
  height: 1.03704rem;
  border-left: 1px solid #b1b1b1;
}
.designer-nav .nav-icon {
  margin: 0 auto;
  width: 1.48148rem;
  height: 1.48148rem;
  background-position: center center;
  background-size: cover;
}
.designer-nav .design-icon {
  background-image: url(../img/m/design-icon.png);
}
.designer-nav .info-icon {
  background-image: url(../img/m/info-icon.png);
}
.designer-nav .works-icon {
  background-image: url(../img/m/works-icon.png);
}
.designer-nav .nav-text {
  width: 3.48148rem;
  height: 1.92593rem;
  line-height: 1.92593rem;
  font-size: 0.56296rem;
  color: #999999;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #fff;
}
.designer-nav .nav-triangle {
  position: absolute;
  bottom: -0.60741rem;
  left: 50%;
  margin-left: -0.14815rem;
  width: 0.35556rem;
  height: 0.35556rem;
  background: #fff;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  /*border-radius: 1px;*/
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 10;
}
.designer-nav .nav-selected .nav-triangle {
  display: block;
}
.designer-nav .nav-selected .nav-text {
  border-color: #689f38;
  color: #689f38;
}

.design-list {
  width: 100%;
}
.design-list .designer-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}
.design-list .collecting {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 8.88889rem;
  background-color: #fbfbfb;
}
.design-list .empty-designer {
  background: url(../img/m/designer-empty.png) no-repeat center;
  background-size: 100%;
  height: 5.03704rem;
  padding-top: 0.11852rem;
}
.design-list .empty-designer-title {
  font-size: 0.62222rem;
  color: #999;
  text-align: center;
}
.design-list .item-img {
  width: 100%;
}
.design-list .item-title {
  overflow: hidden;
  padding: 1.00741rem 0.74074rem;
  color: #333;
  font-size: 0.632rem;
  background: #fff;
}

.designer-intro {
  width: 100%;
}
.designer-intro .intro-wrap {
  padding: 0.59259rem;
  font-size: 0.63333rem;
  line-height: 1.5;
}
.designer-intro p {
  font-size: 0.63333rem;
  line-height: 1.5;
  padding-bottom: 0.2963rem;
}
.designer-intro img {
  width: 100%;
}

.designer-works {
  width: 100%;
}
.designer-works img {
  width: 100%;
}

.designer-tab-detail-list {
  padding-left: 0.44444rem;
  background: #fff;
  font-size: 0.47407rem;
  color: #333;
  margin-bottom: 0.56296rem;
}
.designer-tab-detail-list .item-title {
  padding: 0 0.22222rem;
  height: 2.02963rem;
  line-height: 2.02963rem;
  font-size: 0.47407rem;
  border-bottom: 1px solid #bbbbbb;
}
.designer-tab-detail-list .item-content {
  padding: 0.68148rem 0.22222rem 0.85926rem;
  line-height: 1.0963rem;
}
.designer-tab-detail-list .item-content span {
  color: #689f38;
}
.designer-tab-detail-list .item-content span.gray-text {
  color: #999;
}

.topic-tp-first-list {
  margin-top: -1px;
}

.topic-tp-first-detail {
  overflow: hidden;
  padding: 0.81481rem 0 0.82963rem 0;
  display: -webkit-box;
  -webkit-box-align: center;
}
.topic-tp-first-detail .first-detail-name {
  padding: 0 0 0.44444rem 0.57778rem;
  font-size: 0.88889rem;
  line-height: 0.91852rem;
}
.topic-tp-first-detail .first-detail-title {
  padding: 0 0 0.44444rem 0.57778rem;
  font-size: 0.56296rem;
  color: #999999;
}

.topic-tp-details-top {
  background-color: #fff;
  padding: 0.59259rem 0.59259rem 0.59259rem 4.44444rem;
  font-size: 0.56296rem;
  line-height: 1.6;
  color: #999999;
}

.topic-tp-list-top {
  background-color: #fff;
  padding: 0 0.59259rem 1.62963rem 4.44444rem;
  margin-top: -0.53333rem;
  font-size: 0.56296rem;
  line-height: 1.6;
  color: #999999;
}

.topic-tp-item-arrange {
  display: -webkit-box;
  display: box;
  padding: 0.71111rem 0.74074rem 1.62963rem 0;
  color: #333;
}

.topic-tp-num-local {
  margin-top: 0.2963rem;
  width: 4.14815rem;
  height: 100%;
}

.topic-tp-num-box {
  margin: 0 1.55556rem 0 1.25926rem;
  width: 1.18519rem;
  height: 1.18519rem;
  border-radius: 50%;
  background-color: #8bc34a;
  text-align: center;
  vertical-align: middle;
  line-height: 1.18519rem;
  border: 0.05926rem solid #95c166;
  color: #fff;
}
.topic-tp-num-box .topic-tp-num {
  font-family: Roboto Condensed;
  font-size: 0.62222rem;
}

.topic-tp-description-box {
  -webkit-box-flex: 1;
  box-flex: 1;
}

.topic-tp-description-text {
  padding-bottom: 0.37037rem;
}

.topic-tp-description-name-box {
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
  overflow: hidden;
  padding-bottom: 0.44444rem;
  height: 1.77778rem;
}

.topic-tp-description-name {
  font-size: 0.8rem;
  color: #333333;
  line-height: 0.88889rem;
}

.topic-tp-description-subname {
  padding: 0 0 0.37037rem 0;
  font-size: 0.56296rem;
  color: #999;
}

.topic-tp-description-detail {
  background-color: #fff;
  margin: 0;
  padding: 0 0 0.14815rem 0;
  font-size: 0.56296rem;
  line-height: 1.6;
  color: #999;
}

.topic-tp-details-item {
  margin: 0 0.2963rem;
}
.topic-tp-details-item.type1 .topic-tp-description-text {
  display: none;
}
.topic-tp-details-item.type2 .topic-tp-description-subname {
  display: none;
}

.exp-tp-details-title {
  padding-top: 0.2963rem;
  font-size: 0.56296rem;
  color: #999;
}

.exp-tp-description-text {
  padding-bottom: 0.37037rem;
}

.exp-tp-description-name {
  padding: 0.22222rem 0 0.44444rem 0.44444rem;
  font-size: 0.88889rem;
}

.exp-tp-description-subname {
  padding: 0 0 0.44444rem 0.44444rem;
  font-size: 0.56296rem;
  color: #999;
}

.exp-tp-details-item {
  margin-top: 0.2963rem;
  border: 1px solid #e8e8e8;
}
.exp-tp-details-item.type1 .exp-tp-description-text {
  display: none;
}
.exp-tp-details-item.type2 .exp-tp-description-subname {
  display: none;
}

.exp-tp-noneselect {
  padding: 0.59259rem 0 0.51852rem;
}
.exp-tp-noneselect .noneselect-icon {
  margin: 0 auto;
  width: 6.17778rem;
  height: 5.22963rem;
  background: url(../img/m/spirit.png) -7.40741rem -3.2rem no-repeat;
  background-size: 16rem;
}
.exp-tp-noneselect .noneselect-text {
  padding-top: 1.03704rem;
  font-size: 0.56296rem;
  color: #333;
  text-align: center;
}

.article-tp-details-list {
  margin-top: -1px;
}

.article-tp-description-text {
  padding-bottom: 0.37037rem;
}

.article-tp-description-name {
  padding: 0.22222rem 0 0.44444rem 0;
  font-size: 0.8rem;
}

.article-tp-description-subname {
  padding: 0 0 0.44444rem 0;
  font-size: 0.56296rem;
  color: #999;
}

.article-tp-details-item.type1 .article-tp-description-text {
  display: none;
}
.article-tp-details-item.type2 .article-tp-description-subname {
  display: none;
}
.article-tp-details-item.type3 .article-tp-arrange-text {
  display: none;
}

.article-tp-arrange-text {
  font-size: 0.62222rem;
  color: #666;
  padding-bottom: 0.59259rem;
}

.article-tp-package-item {
  padding-top: 0.66667rem;
}
.article-tp-package-item .package-price {
  color: #689f38;
  padding-bottom: 0.88889rem;
  font-size: 0.71111rem;
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  box-pack: center;
}
.article-tp-package-item .package-button {
  display: -webkit-box;
  display: box;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  box-align: center;
  margin-left: 0.78519rem;
  outline: none;
  width: 4.74074rem;
  height: 1.42222rem;
  text-align: center;
  background: #ffffff;
  border: 1px solid #689f38;
  border-radius: 0.08889rem;
}
.article-tp-package-item .package-button.active-state {
  background-color: #f6ffec;
}

.article-tp-package-list .package-text {
  font-size: 0.62222rem;
  color: #666;
  padding-bottom: 1.06667rem;
  line-height: 1.6;
}

.insp-detail-box {
  padding-top: 2.22222rem;
}

